{% if errors|length > 0 %}
    <!-- Form Error List -->
    <div class="alert alert-danger">
        <strong>Whoops! Something went wrong!</strong>

        <br><br>

        <ul>
        {% for error in errors.all() %}
                <li>{{ error }}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}
